<div class="jumbotron text-center">
  <h1>Musish</h1>
  <p class="lead">Welcome to Musish. The social network focused on music.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Sign Up</a><a class="btn btn-secondary" [routerLink] = "['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Text</h3>
    <p>Description</p>
  </div>
  <div class="col-md-4">
    <h3>Text</h3>
    <p>Description</p>
  </div>
  <div class="col-md-4">
    <h3>Text</h3>
    <p>Description</p>
  </div>
</div>